/* Coolors Exported Palette - https://coolors.co/011627-f71735-f3a712-f0cea0-fffcf2 */

/* CSS HEX */
--rich-black: #011627ff;
--imperial-red: #f71735ff;
--orange-web: #f3a712ff;
--sunset: #f0cea0ff;
--floral-white: #fffcf2ff;

/* CSS HSL */
--rich-black: hsla(207, 95%, 8%, 1);
--imperial-red: hsla(352, 93%, 53%, 1);
--orange-web: hsla(40, 90%, 51%, 1);
--sunset: hsla(35, 73%, 78%, 1);
--floral-white: hsla(46, 100%, 97%, 1);

/* SCSS HEX */
$rich-black: #011627ff;
$imperial-red: #f71735ff;
$orange-web: #f3a712ff;
$sunset: #f0cea0ff;
$floral-white: #fffcf2ff;

/* SCSS HSL */
$rich-black: hsla(207, 95%, 8%, 1);
$imperial-red: hsla(352, 93%, 53%, 1);
$orange-web: hsla(40, 90%, 51%, 1);
$sunset: hsla(35, 73%, 78%, 1);
$floral-white: hsla(46, 100%, 97%, 1);

/* SCSS RGB */
$rich-black: rgba(1, 22, 39, 1);
$imperial-red: rgba(247, 23, 53, 1);
$orange-web: rgba(243, 167, 18, 1);
$sunset: rgba(236, 206, 165, 1);
$floral-white: rgba(255, 252, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-right: linear-gradient(
  90deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-left: linear-gradient(
  270deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
$gradient-radial: radial-gradient(
  #011627ff,
  #f71735ff,
  #f3a712ff,
  #f0cea0ff,
  #fffcf2ff
);
